@model AutoPartsStore.Models.ViewModels.MainViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoPartsStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AutoPartsStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <span>@User.Identity.Name</span>
                            <button type="submit" class="btn btn-outline-dark">Logout</button>
                        </form>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="mainConteiner">
        <main role="main" class="mainbody">
            <div>
                @*@await Html.PartialAsync("LoginBlock")*@
                <div class="LoginBlock">
                    <h3>Личный кабинет</h3>
                    <form id="LoginForm" asp-controller="Account" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div>
                            <div>
                                @Html.TextBoxFor(x => x.Email)
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.Password)
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                            <div>
                                <input type="checkbox" id="IfNewUser" />
                                <label>I am new User</label>
                            </div>
                            <div class="logBtnBlock">
                                <input type="submit" id="login" class="logBlockBnt" asp-controller="Account" asp-action="Login" value="Login" />
                                <input type="button" id="register" class="logBlockBnt" asp-controller="Account" asp-action="Register" value="Register" style="visibility:collapse" />
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div>
                @RenderBody()
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
