@model AutoPartsStore.Models.Part
<div class="LoginBlock">
    <h3>Личный кабинет</h3>
    <form id="LoginForm" asp-controller="Account" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="LogBlockItem">
                @Html.TextBoxFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div>
                @Html.TextBoxFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div>
                @Html.CheckBoxFor(x=>x.IfNewUser)
                @*<input type="checkbox" id="IfNewUser" />*@
                <label>I am new User</label>
            </div>
            <div class="logBtnBlock">
                <input type="submit" id="login" class="logBlockBnt" asp-controller="Account" asp-action="Login" value="Login" />
                <input type="submit" id="register" class="logBlockBnt" asp-controller="Account" asp-action="Register" value="Register" style="visibility:collapse" />
            </div>
        </div>

    </form>

</div>
