@model AutoPartsStore.Models.Order
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="orderConteiner">
    <div id="order">
        <center>
            <h2>Order</h2>
        </center>
        <hr>
        <form method="post" asp-action="ConfirmOrder" asp-controller="Cart">
            <div id="list">
                <div class="item">
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
                <div class="item">
                    @Html.LabelFor(x => x.Lastname)
                    @Html.TextBoxFor(x => x.Lastname)
                    @Html.ValidationMessageFor(x => x.Lastname)
                </div>
                <div class="item">
                    @Html.LabelFor(x => x.ContactPhone)
                    @Html.TextBoxFor(x => x.ContactPhone)
                    @Html.ValidationMessageFor(x => x.ContactPhone)
                </div>
                @*<div class="item">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email)
                    @Html.ValidationMessageFor(x => x.Email)
                </div>*@
                @Html.HiddenFor(x => x.Cart)
                @Html.HiddenFor(x => x.VisualCart)
                @*@Html.HiddenFor(x=>x.UserName)*@
                <input type="hidden" value="@User.Identity.Name" name="Username"/>
                <hr>
                <input type="submit" class="btn btn-outline-success" value="Confirm Order" />
            </div>
        </form>
    </div>
</div>
<div id="addCart">

    <div>
        <div id="showList">
            @foreach (var line in Model.VisualCart.Lines)
            {
                <div class="item">
                    <div class="leftTab">
                        <div class="center">
                            <img src="data:image/png;base64, @line.Part.Image" />
                        </div>
                        <div class="center">
                            <label>@line.Part.Title</label>
                        </div>
                    </div>
                    <div class="center quantity">
                        <label>@line.Quantity</label>
                    </div>
                    <div class="price center">
                        <label>@(line.Quantity * line.Part.Price) ₴</label>
                    </div>
                </div>
                <hr>
            }
        </div>
    </div>
</div>
